body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  display: block;
  cursor: pointer;
  background: #3b3bfd;
  color: #f0dc6d;
  border: none;
  text-align: center;
  width: 100%;
  height: 40px;
}

.btn:hover {
  background: #018dff;
  color: white;
}

.btn:disabled {
  opacity: 0.20;
  color: #c0b8b8;
  cursor: not-allowed;
}
